@import 'vars';
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Chivo', Helvetica, Arial, sans-serif;
	@include smallText;
}
a {
	color: black;
	text-decoration: none;
}
h1 {
	@include xLargeText;
	margin: 0;
}
h2 {
	@include largeText;
	margin: 0;
}
h3 {
	@include mediumText;
	margin: 0;	
}
main {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	&.artwork {
		overflow: hidden;
	}
}
.texture {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-size: 3px;
	background-position: center;
	background-image: url(images/texture.png);
	pointer-events: none;
}
header {
	height: 10vh;
	border-bottom: $border dotted black;
	display: flex;
	.name {
		padding: 0 $padding;
    display: flex;
    align-items: center;
		h1 {
			line-height: .9em;
		}
	}
	nav {
		padding: 0 $padding;
		display: flex;
    flex-direction: column;
		flex: 1;
		user-select: none;
	}
}
.links {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	padding: #{$padding/4} 0;
	&.filters {
		align-items: flex-end;
	}
	.link {
		float: left;
		display: table;
		margin: 0 #{$padding/2} 0 0;
		&.filter {
			opacity: .5;
			h3 {
				float: left;
			}
			// &::before {
			// 	width: 1em;
			// 	height: 1em;
			// 	border: 1px solid black;
			// 	float: left;
			// 	display: block;
			// 	content: '';
			// }
			&.selected {
				opacity: 1;
				&::before {
				}
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
}
#cells {
	// width: calc(100% - #{$padding*2});
	width: 100%;
	min-height: 90vh;
	// margin: 0 $padding;
	overflow: hidden;
	.cell {
		width: 33.3333%;
		float: left;
		position: relative;
		.wrap {
			width: calc(100% - #{$padding*2});
			padding: $padding;
		}
		a {
			width: 100%;
			display: table;
			h2 {
				font-weight: 100;
				margin: 0;
			}
			.meta {
				opacity: 0;
				text-transform: capitalize;
			}
		}
		.image {
			width: 100%;
			height: auto;
			position: absolute;
			display: none;
			z-index: 100;
			pointer-events: none;
			img {
				width: 100%;
				filter: grayscale(1);
			}
		}
		&.top {
			.wrap {
				padding-top: #{$padding/2};
			}
			a:hover {
				// border-top: 0;
				// .wrap {
				// 	padding-top: calc($padding + #{$border});
				// }
			}
		}
		&.left {
			a:hover {
				// border-left: 0;
				// .wrap {
				// 	padding-left: calc($padding + #{$border});
				// }
			}
			.image {
				left: calc(100% + 2px);;
				top: 0;
			}
		}
		&.right {
			a:hover {
				// border-right: 0;
				// .wrap {
				// 	padding-right: calc($padding + #{$border});
				// }
			}
			.image {
				right: calc(100% + 1px);
				top: 0;
			}
		}
		&.center {
			&:nth-child(odd) {
				.image {
					left: calc(100% + 2px);
					top: 0;
				}
			}
			&:nth-child(even) {
				.image {
					right: calc(100% + 1px);
					top: 0;
				}
			}
		}
		&:hover {
			// background: rgba(0,0,0,0.03);
			.image {
				// display: block;
			}
			a {
				// border: $border dotted black;
				font-weight: 900;
				h2 {
					font-weight: 900;
				}
			}
			.wrap {
				width: calc(100% - #{$padding*1.5});
				padding-right: #{$padding/2};
				
			}
			.meta {
				opacity: 1;
			}
		}
	}
	@include tablet {
		width: calc(100% - $padding);
		margin: 0 $padding;
		.cell {
			width: 50%;
			.wrap {
				@include tablet {
					width: calc(100% - $padding);
					padding: $padding;
				}
			}
			&.left {
			}
			&.right {
			}
			&.center {
				&:hover {

				}
			}
		}
	}
}

.carousel {
	width: 100%;
	min-height: $slideHeight;
	display: table;
	margin: auto;
	padding: 0;
	position: relative;
	overflow: visible;
	content: $slideHeight;
	border: 0 dotted transparent;
	&[data-direction="left"] .slides {
		left: .25em;
	}
	&[data-direction="right"] .slides {
		left: -.25em;
	}
	.slides {
		height: $slideHeight;
		position: absolute;
		left: 0;
		top: 0;
		padding-left: 10vw;
		transition: left 200ms $ease;
		.slide {
			width: $slideWidth;
			height: $slideHeight;
			position: relative;
			float: left;
			mix-blend-mode: none;
			filter: grayscale(1);
			// transition: transform 200ms ease-in-out;
			.border {
				height: 100%;
				border: dotted black;
				border-width: 0 1px;
				overflow-x: hidden; 
				overflow-y: auto;
			}
			&.intro {
				width: 100%;
				height: 100%;
			}
			&.image {
				.img {
					width: 100%;
					height: 100%;
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					transition: background-position 700ms $ease;
				}
			}
			&.current {
				filter: grayscale(0);
				.texture {
					display: none;
				}
			}	
			&.right .border, &.left .border {
				border: 0 dotted transparent;
			}
			&.right {
				.border {
					border-left-color: black;
				}
				.img {
					background-position: left center;
				}
			}
			&.left {
				.border {
					border-right-color: black;
				}
				.img {
					background-position: right center;
				}
			}
			.inner {
				width: 80%;
				max-width: $desktopWidth;
				display: table;
				margin: 2em auto;
				h2 {
					width: 100%;
					text-align: center;
					font-size: 5em;
					font-weight: 100;
				}
				.body {
					width: 100%;
					max-width: 25em;
					display: table;
					margin: auto;
				}
			}
			.caption {
				// max-width: $tabletWidth;
				.inner {
					width: 100%;
					max-width: $tabletWidth;
					display: table;
					margin: auto;
				}
				width: calc(100% - $padding);
				position: absolute;
				top: 100%;
				padding: #{$padding/2};
				display: table;
				margin: auto;
				@include smallText;
			}
		}
	}
	.arrow {
		width: 10%;
		height: 100%;
		position: absolute;
		top: 0;
		font-family: Helvetica, Arial, sans-serif;
		font-weight: bold;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		// background-color: rgba(0,0,0,0.04);
		z-index: 100;
		// border-style: dotted;
		// border-color: black;
		&:hover {
			cursor: pointer;
		}
		&.left {
			left: 0;
			// border-width: 0 $border 0 0;
		}
		&.right {
			right: 0;
			// border-width: 0 0 0 $border;
		}
	}
}