@import 'vars';
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	font-family: 'Playfair Display', serif;
	text-rendering: optimizeLegibility;
	@include baseText;
	@include md {
		overflow-y: scroll;
		-webkit-overflow-scrolling: scroll;
	}
}
* {
	box-sizing: border-box;
}
main {
	width: 100%;
	height: 100%;
	margin: auto;
	position: fixed;
	overflow-y: scroll;
	-webkit-overflow-scrolling: scroll;
	@include md {
		height: unset;
		position: unset;
		overflow-y: unset;
		display: table;
	}
}
a, a:visited, a:hover, a:focus {
	color: black;
}
strong {
	font-weight: 700;
}
ul {
	margin: 1em 0 1em .5em;
	padding: 0 0 0 2em;
}
p {
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
h1 {
	font-size: 2.5em;
	line-height: 1.5em;
	margin: 0 0 .5em 0;
}
nav {
	display: flex;
	margin: 1rem auto 2rem auto;
}
a.nav-link {
	margin: auto;
	&:not(.active):not(:hover) {
		text-decoration: none;
		opacity: .5;
	}
}
.sections {
	width: 100%;
	height: 100%;
	// display: flex;
	// flex-direction: row-reverse;
	@include md {
		height: auto;
	}
}
section {
	width: 50%;
	float: right;
	&#text {
		margin-left: 50%;
		padding-bottom: 4rem;
		.section-inner {
			height: 100%;
			float: left;
		}
		@include md {
			padding-bottom: 2rem;
		}
		@include md {
			padding-bottom: 1rem;
		}
	}
	@include md {
		width: 100% !important;
		height: auto !important;
		margin: 0 !important;
		min-height: 100vh !important;
		position: static !important;
		padding: 1rem !important;
	}
	&#images {
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		.section-inner {
			display: flex;
			flex-direction: column;
			float: right;
		}
	}
}
.section-inner {
	width: 100%;
	max-width: 45rem;
	height: 100%;
	padding: 4rem 4rem 0 4rem;
	@include md {
		padding: 2rem 2rem 0 2rem;
	}
	@include sm {
		padding: 1rem 1rem 0 1rem;
	}
}
.text-max {
	margin: 0 auto;
	@include md {
		max-width: 100%;
	}
}
.bismillah {
	width: 50%;
	display: table;
	margin: auto;
	img {
		width: 100%;
		height: auto;
		pointer-events: none;
		user-select: none;
	}
}
.text-columns {
	column-count: 2;
	column-gap: 1.5em;
	@include sm {
		column-count: 1;
	}
}
.text {
	text-align: justify;
}
#carousel {
	width: 100%;
	height: calc(100vh - 8rem);
	padding: 0;
	position: relative;
	overflow-x: hidden;
  overflow-y: auto;
	display: flex;
	flex-direction: column;
	@include md {
		height: 100vh;
	}
}
.slides {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}
.slide {
	width: 100%;
	height: calc(100vh - 8rem);
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	opacity: 0;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	justify-content: center;
	transition: opacity 0ms $ease;
	figure {
		width: 100%;
		height: 100%;
		margin: 0;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	img {
		width: 100%;
		pointer-events: none;
		user-select: none;
	}
	figcaption {
		padding: 1rem 0;
	}
	&.current {
		opacity: 1;
		z-index: 200;
	}	
	&.right {
		.img {
			background-position: left center;
		}
	}
	&.left {
		.img {
			background-position: right center;
		}
	}
	&::-webkit-scrollbar {
	  width: 0;
	}
	@include md {
		height: 100%;
		overflow-y: hidden;
	}
}
.arrow {
	width: 30%;
	height: 100%;
	position: absolute;
	top: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 300;
	&.left {
		left: 0;
		&:hover {
			cursor: w-resize;
		}
	}
	&.right {
		right: 0;
		&:hover {
			cursor: e-resize;
		}
	}
}
figcaption.caption {
	margin-bottom: 2rem;
	&:not(.current) {
		display: none;
	}
}

.mobile {
	display: none;
}

@include md {
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}
}