@import 'vars';
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Playfair Display', serif;
	@include baseText;
}
main {
	width: 100%;
	height: 100%;
}
section {
	padding: 5rem;
	float: left;
	&:first-child {
		width: calc(50% - 10rem);
		height: calc(100% - 10rem);
		position: fixed;
		left: 0;
		top: 0;
	}
	&:last-child {
		width: calc(100% - 15rem);
		padding-left: 10rem;
	}
	@include md {
		width: calc(100% - 4rem) !important;
		height: auto !important;
		padding: 2rem !important;
		position: static !important;
	}
}
.text-inner {
	width: 50%;
	float: right;
	clear: both;
	@include md {
		width: 100%;
		float: none;
	}
}
.text-max {
	max-width: 25rem;
	display: table;
	margin: auto;
	text-align: justify;
	@include md {
		max-width: 100%;
	}
}
.bismillah {
	width: 100%;
	img {
		width: 100%;
		height: auto;
		pointer-events: none;
		user-select: none;
	}
}

.carousel {
	width: 100%;
	height: 100%;
	display: table;
	margin: auto;
	padding: 0;
	position: relative;
	overflow: hidden;
}
.slides {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: left 200ms $ease;
	// .carousel[data-direction="left"] & {
	// 	left: .25em;
	// }
	// .carousel[data-direction="right"] & {
	// 	left: -.25em;
	// }
}
.slide {
	width: calc(50vw - 10rem);
	height: 100%;
	position: relative;
	float: left;
	// transition: opacity 200ms $ease;
	// opacity: 0;
	.scroll {
		height: 100%;
		overflow-x: hidden; 
		overflow-y: auto;
	}
	.wrap {
		width: 100%;
		height: 100%;
		display: flex;
    align-items: center;
    flex-direction: column;
	}
	img {
		max-width: 100%;
		max-height: 100vh;
    display: table;
    margin: auto
	}
	&.current {
		// opacity: 1;
	}	
	&.right {
		.img {
			background-position: left center;
		}
	}
	&.left {
		.img {
			background-position: right center;
		}
	}
	.caption {
		width: calc(100% - #{$gutter*2});
		padding: $gutter;
		display: table;
		margin: $gutter auto 0 auto;
		// background: black;
		color: black;
		.inner {
			width: 100%;
			max-width: $mdWidth;
			max-width: $mdWidth;
			display: table;
			margin: auto;
			text-align: center;
		}
	}
}
.arrow {
	width: 10%;
	height: 100%;
	position: absolute;
	top: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 100;
	&.left {
		left: 0;
		&:hover {
			cursor: w-resize;
		}
	}
	&.right {
		right: 0;
		&:hover {
			cursor: e-resize;
		}
	}
}