@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i&display=swap');

$ease: cubic-bezier(0.645, 0.045, 0.355, 1);

@mixin baseText {
	font-size: 13px;
	line-height: 1.5rem;
	@include md {
		font-size: 15px;
	}
}

$gutter: 1rem;

$smWidth: 480px;
$mdWidth: 768px;
$lgWidth: 1024px;
$xlWidth: 1440px;
$maxWidth: 800px;

@mixin sm {
	@media (max-width: #{$smWidth}) {
		@content;
	}
}

@mixin md {
  @media (max-width: #{$mdWidth}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$lgWidth}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$xlWidth}) {
    @content;
  }
}