@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400i);

$ease: cubic-bezier(0.645, 0.045, 0.355, 1);

@mixin baseText {
	font-size: 13px;
	line-height: 1.8rem;
	@include tablet {
		font-size: 15px;
	}
}

$gutter: 1rem;

$phoneWidth: 480px;
$tabletWidth: 768px;
$laptopWidth: 1024px;
$desktopWidth: 1440px;
$maxWidth: 800px;

@mixin phone {
	@media (max-width: #{$phoneWidth}) {
		@content;
	}
}

@mixin tablet {
  @media (max-width: #{$tabletWidth}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptopWidth}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktopWidth}) {
    @content;
  }
}