@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400i);

$ease: cubic-bezier(0.645, 0.045, 0.355, 1);

@mixin baseText {
	font-size: 13px;
	line-height: 1.8rem;
	@include md {
		font-size: 15px;
	}
}

$gutter: 1rem;

$smWidth: 480px;
$mdWidth: 768px;
$lgWidth: 1024px;
$xlWidth: 1440px;
$maxWidth: 800px;

@mixin sm {
	@media (max-width: #{$smWidth}) {
		@content;
	}
}

@mixin md {
  @media (max-width: #{$mdWidth}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$lgWidth}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$xlWidth}) {
    @content;
  }
}