@import url("https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i");
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Chivo', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.2em; }

a {
  color: black;
  text-decoration: none; }

h1 {
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 900;
  margin: 0; }

h2 {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 900;
  margin: 0; }

h3 {
  font-size: 1.3em;
  line-height: 1.3em;
  margin: 0; }

main {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }
  main.artwork {
    overflow: hidden; }

.texture {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 3px;
  background-position: center;
  background-image: url(../../assets/images/texture.png);
  pointer-events: none; }

header {
  height: 10vh;
  border-bottom: 1px dotted black;
  display: flex; }
  header .name {
    padding: 0 2em;
    display: flex;
    align-items: center; }
    header .name h1 {
      line-height: .9em; }
  header nav {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    flex: 1;
    user-select: none; }

.links {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 0.5em 0; }
  .links.filters {
    align-items: flex-end; }
  .links .link {
    float: left;
    display: table;
    margin: 0 1em 0 0; }
    .links .link.filter {
      opacity: .5; }
      .links .link.filter h3 {
        float: left; }
      .links .link.filter.selected {
        opacity: 1; }
      .links .link.filter:hover {
        cursor: pointer; }

#cells {
  width: 100%;
  min-height: 90vh;
  overflow: hidden; }
  #cells .cell {
    width: 33.3333%;
    float: left;
    position: relative; }
    #cells .cell .wrap {
      width: calc(100% - 4em);
      padding: 2em; }
    #cells .cell a {
      width: 100%;
      display: table; }
      #cells .cell a h2 {
        font-weight: 100;
        margin: 0; }
      #cells .cell a .meta {
        opacity: 0;
        text-transform: capitalize; }
    #cells .cell .image {
      width: 100%;
      height: auto;
      position: absolute;
      display: none;
      z-index: 100;
      pointer-events: none; }
      #cells .cell .image img {
        width: 100%;
        filter: grayscale(1); }
    #cells .cell.top .wrap {
      padding-top: 1em; }
    #cells .cell.left .image {
      left: calc(100% + 2px);
      top: 0; }
    #cells .cell.right .image {
      right: calc(100% + 1px);
      top: 0; }
    #cells .cell.center:nth-child(odd) .image {
      left: calc(100% + 2px);
      top: 0; }
    #cells .cell.center:nth-child(even) .image {
      right: calc(100% + 1px);
      top: 0; }
    #cells .cell:hover a {
      font-weight: 900; }
      #cells .cell:hover a h2 {
        font-weight: 900; }
    #cells .cell:hover .wrap {
      width: calc(100% - 3em);
      padding-right: 1em; }
    #cells .cell:hover .meta {
      opacity: 1; }
  @media (max-width: 768px) {
    #cells {
      width: calc(100% - $padding);
      margin: 0 2em; }
      #cells .cell {
        width: 50%; } }
    @media (max-width: 768px) and (max-width: 768px) {
      #cells .cell .wrap {
        width: calc(100% - $padding);
        padding: 2em; } }

.carousel {
  width: 100%;
  min-height: 90vh;
  display: table;
  margin: auto;
  padding: 0;
  position: relative;
  overflow: visible;
  content: 90vh;
  border: 0 dotted transparent; }
  .carousel[data-direction="left"] .slides {
    left: .25em; }
  .carousel[data-direction="right"] .slides {
    left: -.25em; }
  .carousel .slides {
    height: 90vh;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 10vw;
    transition: left 200ms cubic-bezier(0.645, 0.045, 0.355, 1); }
    .carousel .slides .slide {
      width: 80vw;
      height: 90vh;
      position: relative;
      float: left;
      mix-blend-mode: none;
      filter: grayscale(1); }
      .carousel .slides .slide .border {
        height: 100%;
        border: dotted black;
        border-width: 0 1px;
        overflow-x: hidden;
        overflow-y: auto; }
      .carousel .slides .slide.intro {
        width: 100%;
        height: 100%; }
      .carousel .slides .slide.image .img {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: background-position 700ms cubic-bezier(0.645, 0.045, 0.355, 1); }
      .carousel .slides .slide.current {
        filter: grayscale(0); }
        .carousel .slides .slide.current .texture {
          display: none; }
      .carousel .slides .slide.right .border, .carousel .slides .slide.left .border {
        border: 0 dotted transparent; }
      .carousel .slides .slide.right .border {
        border-left-color: black; }
      .carousel .slides .slide.right .img {
        background-position: left center; }
      .carousel .slides .slide.left .border {
        border-right-color: black; }
      .carousel .slides .slide.left .img {
        background-position: right center; }
      .carousel .slides .slide .inner {
        width: 80%;
        max-width: 1440px;
        display: table;
        margin: 2em auto; }
        .carousel .slides .slide .inner h2 {
          width: 100%;
          text-align: center;
          font-size: 5em;
          font-weight: 100; }
        .carousel .slides .slide .inner .body {
          width: 100%;
          max-width: 25em;
          display: table;
          margin: auto; }
      .carousel .slides .slide .caption {
        width: calc(100% - $padding);
        position: absolute;
        top: 100%;
        padding: 1em;
        display: table;
        margin: auto;
        font-size: 1em;
        line-height: 1.2em; }
        .carousel .slides .slide .caption .inner {
          width: 100%;
          max-width: 768px;
          display: table;
          margin: auto; }
  .carousel .arrow {
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100; }
    .carousel .arrow:hover {
      cursor: pointer; }
    .carousel .arrow.left {
      left: 0; }
    .carousel .arrow.right {
      right: 0; }
