@import url("https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i");
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Chivo', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.2em; }

a {
  color: black;
  text-decoration: none; }

h1 {
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 900;
  margin: 0; }

h2 {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 900;
  margin: 0; }

h3 {
  font-size: 1.3em;
  line-height: 1.3em;
  margin: 0; }

main {
  width: 100%;
  height: 100%; }

header {
  border-bottom: 1px dotted black;
  display: flex; }
  header .name {
    padding: 2em; }
    header .name h1 {
      line-height: .9em; }
  header nav {
    padding: 2em;
    display: flex;
    flex-direction: column;
    flex: 1;
    user-select: none; }

.links {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row-reverse; }
  .links.filters {
    align-items: flex-end; }
  .links .link {
    float: left;
    display: table;
    margin: 0 1em 0 0; }
    .links .link.filter {
      opacity: .5; }
      .links .link.filter h3 {
        float: left; }
      .links .link.filter.selected {
        opacity: 1; }
      .links .link.filter:hover {
        cursor: pointer; }

#cells {
  width: 100%;
  min-height: 90vh;
  overflow: hidden; }
  #cells .cell {
    width: 33.3333%;
    float: left;
    position: relative; }
    #cells .cell .wrap {
      width: calc(100% - 4em);
      padding: 2em; }
    #cells .cell a {
      width: 100%;
      display: table; }
      #cells .cell a h2 {
        font-weight: 100;
        margin: 0; }
      #cells .cell a .meta {
        opacity: 0;
        text-transform: capitalize; }
    #cells .cell img {
      width: calc(100% - 1px);
      height: auto;
      position: absolute;
      display: none;
      z-index: 100;
      pointer-events: none; }
    #cells .cell.top .wrap {
      padding-top: 1em; }
    #cells .cell.left img {
      left: calc(100% + 2px);
      top: 0; }
    #cells .cell.right img {
      right: calc(100% + 1px);
      top: 0; }
    #cells .cell.center:nth-child(odd) img {
      left: calc(100% + 2px);
      top: 0; }
    #cells .cell.center:nth-child(even) img {
      right: calc(100% + 1px);
      top: 0; }
    #cells .cell:hover img {
      display: block; }
    #cells .cell:hover a {
      font-weight: 900; }
      #cells .cell:hover a h2 {
        font-weight: 900; }
    #cells .cell:hover .wrap {
      width: calc(100% - 3em);
      padding-right: 1em; }
    #cells .cell:hover .meta {
      opacity: 1; }
  @media (max-width: 768px) {
    #cells {
      width: calc(100% - $padding);
      margin: 0 2em; }
      #cells .cell {
        width: 50%; } }
    @media (max-width: 768px) and (max-width: 768px) {
      #cells .cell .wrap {
        width: calc(100% - $padding);
        padding: 2em; } }

.carousel {
  width: 100%;
  min-height: 80vh;
  display: table;
  margin: auto;
  padding: 0;
  position: relative;
  overflow: visible;
  content: '80vh'; }
  .carousel[data-direction="left"] .slide.current {
    transform: translateX(0.25em); }
  .carousel[data-direction="right"] .slide.current {
    transform: translateX(-0.25em); }
  .carousel .slides {
    height: 80vh;
    position: absolute;
    left: 0;
    top: 0; }
    .carousel .slides .slide {
      width: auto;
      height: 100%;
      position: relative;
      float: left;
      transition: transform 200ms ease-in-out; }
      .carousel .slides .slide .image {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; }
      .carousel .slides .slide .caption {
        width: calc(100% - $padding);
        position: absolute;
        top: 100%;
        padding: 1em;
        display: table;
        margin: auto;
        font-size: 1em;
        line-height: 1.2em; }
        .carousel .slides .slide .caption .inner {
          width: 100%;
          max-width: 768px;
          display: table;
          margin: auto; }
  .carousel .arrow {
    width: 33.33%;
    height: 100%;
    position: absolute;
    top: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100; }
    .carousel .arrow:hover {
      cursor: pointer; }
    .carousel .arrow.left {
      left: 0; }
    .carousel .arrow.right {
      right: 0; }
