@import url("https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i");
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Chivo', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.2em; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    color: blue; }

h1 {
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 100;
  margin: 0; }

h2 {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 900;
  margin: 0; }

h3 {
  font-size: 1.3em;
  line-height: 1.3em;
  margin: 0;
  font-weight: 400; }

main {
  width: 100%;
  height: 100%;
  min-height: 400px;
  overflow-x: hidden; }
  main.artwork {
    overflow: hidden; }

.texture {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 3px;
  background-position: center;
  background-image: url(../../assets/images/texture.png);
  pointer-events: none; }

header {
  height: 5em;
  border-bottom: 1px dotted black;
  display: flex; }
  header .name {
    padding: 0 2em;
    display: flex;
    align-items: center; }
    header .name h1 {
      line-height: .9em; }
  header nav {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    flex: 1;
    user-select: none; }

.links {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin: auto; }
  .links.about {
    padding: 0.5em 0 0 0; }
  .links.filters {
    padding: 0 0 0.5em 0;
    align-items: flex-end; }
    .links.filters a {
      opacity: .5; }
      .links.filters a h3 {
        float: left; }
      .links.filters a.selected {
        opacity: 1; }
      .links.filters a:hover {
        cursor: pointer; }
  .links a {
    float: left;
    display: table;
    margin: 0 1em 0 0; }

#cells {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }
  #cells .cell {
    width: 33.3333%;
    float: left;
    position: relative; }
    #cells .cell a {
      width: 100%;
      display: table; }
      #cells .cell a .meta {
        opacity: 0;
        text-transform: capitalize;
        padding: .25em 0; }
        #cells .cell a .meta span {
          margin: 0 1em 0 0;
          text-transform: capitalize; }
          #cells .cell a .meta span:last-child {
            margin: 0; }
      #cells .cell a .wrap {
        width: calc(100% - 4em);
        padding: 0 2em 1em 2em; }
        #cells .cell a .wrap .event {
          width: 100%; }
          #cells .cell a .wrap .event h2 {
            font-weight: 100;
            margin: 0; }
        #cells .cell a .wrap .artwork {
          width: 100%;
          height: auto;
          pointer-events: none;
          display: table; }
          #cells .cell a .wrap .artwork img {
            width: 100%;
            filter: grayscale(1);
            display: table; }
        #cells .cell a .wrap .text {
          width: calc(100% - 2em);
          padding: 1em;
          background-color: rgba(0, 0, 0, 0.03);
          height: auto;
          font-size: 11px;
          line-height: 1em;
          overflow: hidden; }
          #cells .cell a .wrap .text p {
            margin-top: 0;
            pointer-events: none; }
            #cells .cell a .wrap .text p:last-child {
              margin: 0; }
        #cells .cell a .wrap:hover .body {
          color: black !important; }
        #cells .cell a .wrap:hover .meta {
          opacity: 1; }
    #cells .cell.top {
      padding-top: 2em; }
    @media (max-width: 768px) {
      #cells .cell {
        width: calc(100% - $padding);
        margin: 0 2em; }
        #cells .cell .cell {
          width: 50%; } }
    @media (max-width: 768px) and (max-width: 768px) {
      #cells .cell .cell .wrap {
        width: calc(100% - $padding);
        padding: 2em; } }

.content {
  width: 100%;
  height: calc(100% - 5em);
  display: table; }
  .content .inner {
    width: 80%;
    max-width: 45em;
    display: table;
    margin: 2em auto; }
    .content .inner h2 {
      width: 100%;
      text-align: center;
      font-size: 5em;
      font-weight: 100; }
    .content .inner a {
      text-decoration: underline; }
    .content .inner .meta {
      width: 100%;
      font-size: 1em;
      line-height: 1.2em;
      text-align: center; }
    .content .inner .intro {
      width: 100%;
      font-size: 1.3em;
      line-height: 1.3em;
      opacity: 0.5; }
    .content .inner .body {
      width: 100%;
      font-size: 1.3em;
      line-height: 1.3em; }

.carousel {
  width: 100%;
  height: 100%;
  display: table;
  margin: auto;
  padding: 0;
  position: relative;
  overflow: visible;
  border: 0 dotted transparent; }
  .carousel[data-direction="left"] .slides {
    left: .25em; }
  .carousel[data-direction="right"] .slides {
    left: -.25em; }
  .carousel .slides {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 10vw;
    transition: left 200ms cubic-bezier(0.645, 0.045, 0.355, 1); }
    .carousel .slides .slide {
      width: 80vw;
      height: 100%;
      position: relative;
      float: left;
      filter: grayscale(1); }
      .carousel .slides .slide .border {
        height: 100%;
        border: dotted black;
        border-width: 0 1px;
        overflow-x: hidden;
        overflow-y: auto; }
      .carousel .slides .slide.intro {
        width: 100%;
        height: 100%; }
      .carousel .slides .slide.image .img {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: background-position 700ms cubic-bezier(0.645, 0.045, 0.355, 1); }
      .carousel .slides .slide.current {
        filter: grayscale(0); }
        .carousel .slides .slide.current .texture {
          display: none; }
      .carousel .slides .slide.right .border, .carousel .slides .slide.left .border {
        border: 0 dotted transparent; }
      .carousel .slides .slide.right .border {
        border-left-color: black; }
      .carousel .slides .slide.right .img {
        background-position: left center; }
      .carousel .slides .slide.left .border {
        border-right-color: black; }
      .carousel .slides .slide.left .img {
        background-position: right center; }
      .carousel .slides .slide .caption {
        width: calc(100% - 1em);
        padding: 0.5em;
        display: table;
        margin: auto;
        text-align: center;
        font-size: 1em;
        line-height: 1.2em; }
        .carousel .slides .slide .caption .inner {
          width: 100%;
          max-width: 768px;
          display: table;
          margin: auto; }
  .carousel .arrow {
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100; }
    .carousel .arrow:hover {
      cursor: pointer; }
    .carousel .arrow.left {
      left: 0; }
    .carousel .arrow.right {
      right: 0; }
